<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img class="logo-img" src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4 5H20M4 12H20M4 19H20" stroke="#171717" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Challenge</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#move">Mechanics</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#every">Puzzle Layers</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#when">Tools</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Challenge</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#move">Mechanics</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#every">Puzzle Layers</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#when">Tools</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
    </ul>
</div>