<section class="home-section" id="home">
    <div class="container home-container">
       <div class="home-wrapper">
        <h1 class="home-title">A puzzle that looks simple — until the clock starts.</h1>
        <div class="home-text-wrapper">
            <p>So I booted up Block Out for the first time, and honestly? Looked simple enough - you've got some colored blocks,
            matching gates, and a board that doesn't seem too intimidating. The goal is clear. Slide each block to the gate with the
            same color.</p>
            <p class="home-red">But once the timer begins ticking, the puzzle transforms.</p>
            <p>That's when every move starts to count. Mess up one block and you might trap another one. What looked like a simple path
            suddenly turns into this crazy maze. Suddenly you are not just moving shapes — you are planning routes, predicting
            obstacles, and trying to stay one step ahead of the board.</p>
        </div>
            <div class="home-text">
                <p>What starts as a calm puzzle quickly becomes a focused mental challenge.</p>
            </div>   
       </div>
               <picture>
            <source srcset="
                /img/home/desk.png 1x,
                /img/home/desk@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
                /img/home/mob.png 1x,
                /img/home/mob@2x.png 2x
                " media="(max-width: 1439px)" />
            <img src="/img/home/mob.png" alt="Block Out - Puzzle Game" loading="lazy" />
        </picture>    
    </div>
</section>